@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --color-dark: #0a1f38;
  --color-middle: #1b2f46;
  --color-light: #2f4056;
  --color-gray: #9da5af;
  --color-green-dark: #819400;
  --color-green-middle: #97ab0d;
  --color-green: #a5bb0c;
  --color-green-light: #b1c909;

  color: white;
  background: var(--color-dark);
  font-family: 'Montserrat', sans-serif;

  h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 104px;
    line-height: 104px;
  }
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 72px;
  }
  h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 48px;
  }
  h4 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .text-normal {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }
  .text-small {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 18px;
    line-height: 28px;
  }
  .text-small-bold {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
  }
  a {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    color: var(--color-green-light);
    text-decoration: none;
    cursor: pointer;
  }
  a:hover {
    color: white;
  }
}
